.about {
    padding-bottom: 5vw;
}

#heading {
    display: flex;
    justify-content: center;
    background-color: white;
    filter: invert(100%);
}

.text-container {
    padding-top: 2.5vw;
    margin: auto;
    left: 0;
    right: 0;
    width: 65%;
}

.about h1 {
    font-size: 2vw;
    
}

.about h2 {
    font-size: 0.9vw;
}

.about-info {
    padding-bottom: 2.5vh;
}

.divider {
    margin: 2.5vw 0;
    content: '';
    display: inline-block;
    background-color: grey;
    width: 100%;
    height: 1px;
}

.about ul {
    list-style-type: none;
    padding-left: 0;
}

.about ul li {
    padding: 0 1vw;
}

