.history {
    /* display: flex; */
}

.timeline {
    position: absolute;
    z-index: -1;
}

#info1 {
    height: 100vh;
}

.info {
    margin: auto;
    width: 30%;
}

.info h1 {
    font-size: 1.5vw;
}

.info p {
    font-size: 1vw;
    line-height: 1.6vw;
}