.summary {
    display: flex;
    margin-top: 25%;
    /* width: 75%; */
}

.summary img {
    object-fit: cover;
    margin-right: 1vw;
    height: 20vw;
    width: 20vw;

    filter: grayscale(50%);
}

.summaryText h2 {
    font-size: 1.25vw;
}

.summaryText p {
    font-size: 0.8vw;
    line-height: 1.1vw;
}