.summary {
    margin-top: 15%;
    width: 60%;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 7%;
    margin-bottom: 10%;
}

.summary h2 {
    font-size: 1.6vw;
}

.summary p {
    font-size: 0.8vw;
    line-height: 1.2vw;
}

.info1 {
    display: flex;
}

.info1 img {
    margin-top: 3%;
    object-fit: cover;
    margin-right: 1vw;
    height: 35vw;
    width: 35vw;
    filter: grayscale(50%);
}