.gallery {
    /* border: blue solid; */
    align-items: center;
    justify-content: center;
}

.gallery img {
    background-size: contain;
    object-fit: cover;
    height: 30vw;
    width: 100%;
    overflow: hidden;

    filter: grayscale(60%);

    /* centers img horizontally */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slide-enter {
    opacity: 0;

  }
.slide-enter-active {
    opacity: 1;
    transition: transform 600ms ease-in, opacity 300ms ease-in;

}
.slide-exit {
    opacity: 1;
}
.slide-exit-active {
    opacity: 0;
    transition: transform 600ms ease-in, opacity 300ms ease-in;


}