/* TODO:　FIX NAVBAR SPACING BETWEEN BRAND AND UL */

#navbar {
    height: 9vh;
    top: 0;
    display: flex;
    position: fixed;
    font-family: Roboto;
    font-size: 0.6vw;
    width: 100%;
    background-color: white;
}

.navList {
    margin-left: auto;
    margin-right: 5vh;
    margin-top: 3.5vh;
}

.navItem {
    display: inline-flex;
    padding: 0 1vw;
    text-decoration: none;
    color: black;

}

.navBrand img {
    height: 1.4vw;
    vertical-align: middle;
    margin-left: 5vh;
}

.navBrand:hover, .navItem:hover {
    filter: invert(40%);
    transition: 150ms ease-in-out;
}

.navbar.fixed {
    box-shadow: black 5px 3px 16px;
    transition: 300ms ease-in-out;
}