/* TODO:　FIX NAVBAR SPACING BETWEEN BRAND AND UL */

#navbar {
    height: 4vw;
    padding: 1vh;
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-size: 0.6vw;
}

.navItem {
    display: inline-flex;
    padding: 1vw 1vw;
    text-decoration: none;
    color: black;
}

img {
    height: 1.4vw;
    vertical-align: middle;
}

.centerer {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.navBrand:hover, .navItem:hover {
    filter: invert(45%);
}