/* TODO:　FIX NAVBAR SPACING BETWEEN BRAND AND UL */

#navbar {
    height: 4vw;
    overflow: hidden;
    z-index: 9999;
    padding: 1vh;
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-size: 0.6vw;
}

li {
    display: inline-flex;
    height: 100%;
}

.navItems a {
    padding: 1vw 1vw;
    text-decoration: none;
    color: black;
}

img {
    height: 1.4vw;
    vertical-align: middle;
}

.centerer {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

a:hover {
    filter: invert(45%);
}